<div fxLayout="row" fxLayoutGap="10px">    
    <div fxLayout="column">
        <div class="clock-container">
            <div class="time">{{time}}</div>
        </div>
    </div>
    <div fxLayout="column">
        <div fxLayout="row">
            <div class="day-container">
                <div class="day">{{day}}</div>
            </div>
        </div> 
        <div fxLayout="row">
            <div class="date-container">
                <div class="day">{{date}}</div>
            </div>
        </div> 
    </div>
</div> 

