<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" class="devices">   
  <div fxLayout="column"><!--controls-->
    <app-control-light deviceName="OfficeLight" displayName="Main Light"></app-control-light>
  </div>
  <div fxLayout="column"><!--devices-->
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" class="devices">
      <app-device-occupancy deviceName="Occupancy"></app-device-occupancy>
    </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" class="devices">
        <app-device-temperature deviceName="OfficeTemperature" displayName="Temperature"></app-device-temperature>
    </div>  
  </div>
</div>


 
