<div class="container">
<app-control-light deviceName="OfficeLight" displayName="Main Light" showColours="false"></app-control-light>
<app-control-temperature deviceName="OfficeTemperature" displayName="Temperature"></app-control-temperature>
<app-device-occupancy displayName="Occupancy" deviceName="OfficeMotion" ></app-device-occupancy>
<app-control></app-control>
</div>

<!--

<div fxLayout="row">   
 <div fxLayout="column" class="single-width" >
 
  
 </div>
 <div fxLayout="column" class="single-width" >
  
</div>
<div fxLayout="column" class="single-width" >
  
</div>
</div>
-->


  



 
