
<mat-card>
<mat-card-title>{{ displayName }}</mat-card-title>
<div fxLayout="row" fxLayoutAlign="center center"  fxLayoutGap="20px" class="colour-picker-container">     
    <div fxLayout="column" *ngIf="showColours == 'true'">
        <compact-picker  [control]="compactControl"></compact-picker>
    </div>

    <div fxlayout="column">
        <mat-card (click)="toggleLight()" class="device_{{getValue()}}">
            <div fxLayout="row" fxLayoutAlign="center center">                
                <span class="device"><mat-icon inline="true">{{ getIcon() }}</mat-icon></span>                      
            </div>             
        </mat-card>
        <div *ngIf="showBalance == 'true'">
            <div class="brightness-slider-label-container">
                <label  class="example-name-label">Brightness</label>
                <label class="example-value-label"></label>
            </div>
            <mat-slider min="1" max="1000" step="10" #brightnessSlider aria-label="brightness" (valueChange)="brightnessChange()" class="brightness-slider"></mat-slider>

            <div class="white-slider-label-container">
                <label  class="example-name-label">White Temperature</label>
                <label class="example-value-label"></label>
            </div>
            <mat-slider min="1" max="1000" step="10" #whiteSlider aria-label="Colour Temperature" (valueChange)="whiteChange()" class="white-slider"></mat-slider>
        </div>
    </div>
</div>
</mat-card>
